<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='shortcut icon' href='/images/favicon.ico'>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    Welcome to <%= title %>
  </p>
  <button onclick='sseController.init()'>sse test init</button>
  <button onclick='sseController.close()'>sse test close</button>
  <button onclick='WebAuthnTest()'>WebAuthnTest</button>
  <button onclick='handleSocketTest()'>SocketTest</button>

  <div id='server_data' style='display: none;'>
    <%= serverData %>
  </div>
</body>

</html>
<script>
  console.log('<%= title %>');
</script>
<script type='module'>
  import { io } from 'https://cdn.socket.io/4.4.1/socket.io.esm.min.js';

  const socket = io('/');
  socket.on('connect', () => {
    console.log(socket.connected); // true
  });
  socket.on('testEvent', (data) => {
    console.log(data);
  });
  socket.on('clickEvent', (data) => {
    console.log('clickEvent', data);
  });
  window.socket = socket;
</script>
<script>
  const SERVER_DATA = JSON.parse(document.getElementById('server_data').innerText);
  SERVER_DATA.challenge = new Uint8Array(SERVER_DATA.challenge.split(','));

  function handleSocketTest() {
    socket.emit('clickEvent', 'world');
  }
</script>
<script src='/javascripts/javascriptFile.js'></script>